
.header{
  background-color: $color-blue;
  width: 100%;
}

.message{
  color: $color-white;
  text-align: center;
}

.left-wrapper{
  width: 300px;
  float: left;

  .left-upper{
    height: 100px;
    padding: 0 20px;
    background-color: #253141;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .user-name{
      font-size: 16px;
      font-weight: bold;
      color: $color-white;
    }

    .left-menu{
      display: flex;
      @include label();
    }
  }

  .left-lower{
    background-color: #2f3e51;
    padding: 20px 20px 0;
    height: calc(100vh - 100px);
    box-sizing: border-box;

    .left-group{
      font-size: 15px;
      font-weight: bold;
      color: $color-white;

      &__name{
        margin: 0 0 5px 0;
        }

      &__comment{
        font-size: 11px;
        margin: 0 0 40px 0;
      }
    }
  }
}

.right-wrapper{
  width: calc(100vw - 300px);
  float: right;

  .right-upper{
    margin: 0 40px;
    height: 100px;
    border-bottom: #eeeeee;

    .group-container{
      display: flex;
      justify-content: space-between;

      &__current-group{
        padding: 35px 0 15px;
        height: 85px;
        box-sizing: border-box;
      }

      &__edit-button{
        padding: 5px 20px 5px;
        margin-top: 28px;
        height: 40px;
        border: solid 1px $color-blue;
        color: $color-blue;
        box-sizing: border-box;

        .edit-button{
          text-decoration: none;
          color: $color-blue;
        }
      }
    }

  .member-name{
    font-size: 12px;
    color: #999999;
    }
  }

  .right-lower{
    height: calc(100vh - 190px);
    padding: 40px 40px 0;
    background-color: #fafafa;
    box-sizing: border-box;

    .right-group{
      display: flex;

      &__current-user{
        font-size: 16px;
        color: $color-black;
        font-weight: bold;        
        padding-bottom: 10px;
      }

      &__date-and-time{
        font-size: 12px;
        color: #999999;
        margin-left: 10px;
      }
    }

    .group-message{
      font-size: 14px;
      color: $color-black;
      padding-bottom: 40px;
    }
  } 

  .message-form{
    height: 90px;
    background-color: #ddd;
    padding: 20px 40px;
    box-sizing: border-box;

    &__container{
      display: flex;

      &__input-box{
        position: relative;
        width: 100%;

        &--text{
          height: 50px;
          width: 100%;
          padding: 0 10px 0 10px;
          box-sizing: border-box;

          &::placeholder{
            line-height: 50px; 
          }
        }
      }

      &__icon-position{
        position: absolute;
        right: 160px;
      bottom: 10px;
        @include label();

        &--file{
          display: none;
        }           
      }

      &__send-button{
          padding: 0 20px;
          width: 100px;
          margin-left: 15px;
          height: 50px;
          border: solid 1px $color-blue;
          color: $color-white;
          box-sizing: border-box;
          background-color: $color-blue;
      }
    }
  }
}
